@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --base-color: #050502;
    --secondary-color: #070f0b;
    --tertiary-color: #2b3135;
    --text-color: #fffff3;
    --highlight-color: var(--text-color);
    --color-1: #00D9C0;
    --color-2: #B7AD99;
    --color-3: #FF4365;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, a, Button {
    font-family: Audiowide, 'Courier New', Courier, monospace;
    color: var(--text-color);
}

p {
    font-family: Cantarell, 'Courier New', Courier, monospace;
    color: var(--text-color);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

body {
    background-image: url("portfolio_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--base-color);
    padding: 1em;
}

/* Nav Bar Desktop */
@media (min-width:769px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
        list-style: none;
    }

    nav ul li:first-child {
    margin-right: auto;
    }
}

/* Nav Bar Mobile */
@media (max-width:768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
        list-style: none;
    }
}


nav ul a {
    text-decoration: none;
}

Button {
    cursor: pointer;
}

nav Button {
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--color-1);
    color: var(--secondary-color);
    font-weight: bold;
}

header {
    margin: 3em auto 2em auto;
    padding: 2em;
    width: min(60em, 100%);
    border-radius: 3em;
    background-color: var(--secondary-color);
    outline: 5px solid var(--color-3);
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto .5em auto;
    max-width: 100%;
}

header h2 {
    margin: 0 auto .5em auto;
}

header Button {
    padding: .5em 1em;
    border-radius: .5em;
    background-color: var(--color-3);
    color: var(--text-color);
    font-weight: bold;
}

header p {
    margin: 1em auto;
}


/* Header Desktop */

@media (min-width:769px) {
    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    header img {
        height: auto;
        max-width: 50%;
    }

    header div.text-container {
        height: auto;
        max-width: 50%;
    }
}

/* Header Mobile */

@media (max-width:768px) {
    header img {
        display: flex;
        justify-content: center;
        height: auto;
        margin: auto auto 2em auto;
    }
}



/* Project Section */
img {
    border-radius: .5em;
    max-width: 100%;
    height: auto;
}

iframe {
    border-radius: .5em;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}


/* Mobile Project Title Format */
@media (max-width:768px) {
    .flex-container.project-title {
        gap: 1em;
        align-items: normal;
    }
}

section {
    margin: 3em auto 2em auto;
    padding: 2em;
    width: min(50em, 100%);
    border-radius: 3em;
    background-color: var(--secondary-color);
    outline: 0px solid var(--highlight-color);
    outline-offset: 0px;
    transition: outline-width 0.2s ease, outline-offset 0.2s ease;
}

section:hover {
    outline-width: 5px;
    outline-offset: 4px;
}

section h2 {
    margin: 0 auto 1em auto;
}

section p, a{
    margin: auto auto 1em auto;
}

/* Mobile */
@media (max-width:768px) {
    .read-more {
        overflow-wrap: break-word;
    }
}

/* Desktop */

@media (min-width:769px) {
    .read-more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:769px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50em, 1fr)); 
    }
}

.project-figures {
    margin: auto auto 1em auto;
    flex-wrap: wrap;
}
